
.new-arrival {
    padding-top: 100px !important;
    padding-bottom: 80px !important;
}

.section-tittle {
    margin-bottom: 60px !important;
}

.section-tittle h2 {
    font-size: 36px;
    display: block;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 20px !important;
    text-transform: uppercase;
}

.section-tittle p {
    color: #7F85A8;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.6;
    margin-bottom: 15px !important;
}

.properties__button {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav-tabs button {
    display: block;
    color: #010A44;
    text-transform: capitalize;
    font-size: 15px;
    padding: 20px 28px !important;
    border: none !important;
    border: none;
    outline: none;
    background-color: inherit;
}

.nav-tabs {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-tabs .active-content {
    color: #FD8F5F !important;
    background-color: #fff;
    border-bottom: 2px solid #FD8F5F !important;
}

.properties__button nav {
    width: 100%;
}



.active-content {
    display: none;
}

.favorite-flex {
    display: flex;
    flex-wrap: wrap;
    margin-top: 39px !important;
}

.sofa-text {
    padding: 31px 15px !important;
}

.new-arrival img {
    width: 100%;
}

.sofa-card {
    padding: p 15px !important;
}

.sofa-text a {
    font-weight: 500;
    font-size: 16px;
    display: block;
    line-height: 1.7;
    margin-bottom: 20px !important;
    color: black;
    display: inline-block;
    transition: .3s;
    text-align: center;
}

.sofa-text a:hover {
    text-decoration: underline !important;
}

.sofa-text p {
    color: #670000;
    font-size: 20px;
    font-weight: 600;
    display: block;
    text-align: center;
}

