.cart_inner .table thead tr th {
    border-top: 0px;
    font-size: 14px;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
    color: #797979;
    border-bottom: 0px !important;
}

.table-responsive {
    display: block;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
}

.cart_inner .table {
    margin-bottom: 30px !important;
    border-bottom: 1px solid #eee;
}

.table {
    width: 100%;
    margin-bottom: 1rem;
    background-color: transparent;
}
.cart_inner .table thead tr th {
    border-top: 0px;
    font-size: 14px;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
    color: #797979;
    border-bottom: 0px !important;
}
.table td, .table th {
    padding: .75rem !important;
}
.cart_inner .table tbody tr td {
    padding-top: 30px !important;
    padding-bottom: 30px !important;
    /* vertical-align: middle ; */
    align-self: center !important;

}
.media {
    display: flex;
    align-items: center;
}
.cart_inner{
    margin: 0 15px 0 0  !important  ;
}
.cart_inner .table tbody tr td .media .d-flex img {
    border: 1px solid #eeeeee;
    border-radius: 3px;
    max-width: 150px;
}
.cart_inner .table tbody tr td h5 {
    font-size: 14px;
    color: #2a2a2a;
    font-family: "Poppins", sans-serif;
    margin-bottom: 0px !important;
}
.cart_inner .table tbody tr td .product_count {
    margin-bottom: 0px !important;
    display: inline-block;
    position: relative;
    overflow: hidden;
}
.cart_area .product_count .input-number-decrement {
    position: absolute;
    right: 0;
    bottom: -9px;
    padding: 10px !important;
    border-left: 1px solid #eee;
    display: inline-block;
    cursor: pointer;
}
.cart_area .product_count .input-number-increment {
    position: absolute;
    right: 0;
    top: -7px;
    cursor: pointer;
    padding: 10px !important;
    border-left: 1px solid #eee;
    display: inline-block;
}
.cart_area .product_count .input-number-increment:after {
    position: absolute;
    content: "";
    left: 0;
    bottom: 7px;
    width: 100%;
    height: 2px;
    background-color: #eee;
}

.cart_inner .table tbody tr td .product_count input {
    width: 100px;
    padding-left: 30px !important;
    height: 50px;
    outline: none;
    box-shadow: none;
    border: 1px solid #eeeeee;
    border-radius: 3px;
}
.product_count svg{
    font-size: 12px;
}

.cart_inner .table tbody tr.bottom_button td .cupon_text {
    margin-left: -446px !important;
}
.cart_inner .table tbody tr.bottom_button td:last-child {
    width: 60px;
}
.cart_inner .table tbody tr.shipping_area .shipping_box {
    margin-left: -250px !important;
    text-align: right;
}
.cart_inner .table tbody tr.shipping_area .shipping_box .list li {
    margin-bottom: 12px !important;
    color: #606060;
}
.cart_inner .table tbody tr.shipping_area .shipping_box .list li input {
    margin-left: 10px !important;
}
.cart_inner .table tbody tr.shipping_area .shipping_box h6 {
    font-size: 14px;
    font-weight: normal;
    color: #2a2a2a;
    font-family: "Poppins", sans-serif;
    margin-top: 20px !important;
    margin-bottom: 20px !important;
}
.cart_inner .table tbody tr.shipping_area .shipping_box .shipping_select {
    display: block;
    width: 100%;
    background: #f4f4f4 !important;
    border: 1px solid #f4f4f4;
    height: 40px;
    margin-bottom: 20px !important;
}
.nice-select {
    border-radius: 5px;
    box-sizing: border-box;
    clear: both;
    cursor: pointer;
    display: block;
    float: left;
    font-family: inherit;
    font-size: 14px;
    font-weight: normal;
    height: 42px;
    line-height: 40px;
    outline: none;
    padding-left: 18px !important;
    padding-right: 30px !important;
    position: relative;
    text-align: left !important;
    transition: all 0.2s ease-in-out;    
    user-select: none;
    white-space: nowrap;
    width: auto;
}
.nice-select .list {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 0 1px rgba(68, 68, 68, 0.11);
    box-sizing: border-box;
    margin-top: 4px !important;
    /* opacity: 0; */
    overflow: hidden;
    padding: 0 !important;
    pointer-events: none;
    position: absolute;
    top: 100%;
    left: 0;
    transform-origin: 50% 0;
    transition: all 0.2s cubic-bezier(0.5, 0, 0, 1.25), opacity 0.15s ease-out;
    z-index: 9;
}
.nice-select:after {
    border-bottom: 2px solid #999;
    border-right: 2px solid #999;
    content: '';
    display: block;
    height: 5px;
    margin-top: -4px !important;
    pointer-events: none;
    position: absolute;
    right: 12px;
    top: 50%;
    transform-origin: 66% 66%; 
    transform: rotate(45deg);
    transition: all 0.15s ease-in-out;
    width: 5px;
}
.nice-select.open:after {
    -webkit-transform: rotate(-135deg);
    -ms-transform: rotate(-135deg);
    transform: rotate(-135deg);
}
.cart_inner .table tbody tr.shipping_area .shipping_box .shipping_select .list {
    width: 100%;
    border-radius: 0px;
}
.cart_inner .table tbody tr.shipping_area .shipping_box .shipping_select .list li {
    font-size: 14px;
    font-weight: normal;
    color: #797979;
    margin-bottom: 12px !important;
}
.nice-select .option {
    cursor: pointer;
    font-weight: 400;
    line-height: 40px;
    list-style: none;
    min-height: 40px;
    outline: none;
    padding-left: 18px !important;
    padding-right: 29px !important;
    text-align: left;
    transition: all 0.2s;
}
.post_code {
    display: block;
    width: 100%;
    background: #f4f4f4;
    border: 1px solid #f4f4f4;
    height: 40px;
    margin-bottom: 20px !important;
    padding: 8px 15px !important;
}
.checkout_btn_inner {
    display: flex;
    gap: 6px ;
}
.table-responsive{
    overflow: hidden !important;
}
@media only screen and (min-width: 480px) and (max-width: 767px) {
    .cart_area .media {
        display: block;
    }
    .checkout_btn_inner {
        display: block;
        padding: 0 15px !important;
    }
}